<main role="main" class="container-fluid">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <div class="presentation">
        <p>Bienvenue, petite application ou vous aurez les chiffres sur les dons et sur les cas détectés.
            L'actualisation
            se fait en temps réel!</p>
        <div class="recommendations">
            <small>Lavez vos mains régulierement - Eviter les contacts (1m de distance) - Ne touchez pas vos yeux, nez
                ou
                bouche</small> <br>
            <small>Wash your hands regularly - Avoid close contact (1m distance) - Don't touch your eyes, nose, or
                mouth
            </small>
        </div>
        <small>Les dons sont mis a jour automatiquement chaque 60 sec, </small>
        <small>Les statistiques d'infections toutes les 5 min </small><br>
    </div>
    <%= @inner_content %>
</main>
