/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  background-color: #f8f8f8;
}

.container-fluid {
  width: 85%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Cedric styles */
div.presentation {
  text-align: center;
}

div.presentation>p {
  margin-bottom: 15px;
  margin-top: 10px;
}

div.recommendations {
  border: 1px dashed orange;
  font-weight: bold;
}

.links a,
a[href^="https://cameroonsurvival"] {
  padding: 5px 20px;
  margin: 5px 15px;
  color: white;
  background: #00a347;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
  font-weight: bold;
}

.links a:hover,
a[href^="https://cameroonsurvival"]:hover {
  background: #f79007;
}

.active {
  background: #f79007 !important;
}

main .links {
  margin-bottom: 30px;
}

a[href^="https://cameroonsurvival"] {
  margin: 20px 0;
  padding: 10px 30px;
  text-transform: uppercase;
}

table {
  margin-bottom: 40px;
}

/* end */

.achieved {
  background-color: #38ec38;
}

.nextTarget {
  background-color: darkorange !important;
}

.default {
  background-color: darkgray;
}

section.card {
  margin-bottom: 10px;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 30px 20px;
}

/* On mouse-over, add a deeper shadow */

.country-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.country-item {
  border-bottom: 5px solid #2218ac;
  border-right: 1px solid #4b4b4b;
  width: 300px;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.country-item h4 {
  margin-bottom: 1rem;
  color: #673ab7;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #e7e5e4;
}

.country-item p {
  margin-bottom: 0.7rem;
  border-bottom: 1px dashed rgb(104, 104, 104);
  font-size: 1.6rem;
  font-weight: bolder;
}

.global-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.global-stats div {
  display: flex ;
  flex-direction: column;
  align-items: center;
}

.global-stats div p:first-child {
  font-weight: bold;
}