<table>
    <tr>
        <% donations = Don.list_don() %>
        <% targets = compute_regression(donations) %>
        <th>Target €</th>
        <th>Target FCFA</th>
        <th>Estimation J/H</th>
    </tr>
    <%= for {target, expected, meet?} <- targets do %>
    <tr class=<%=  if meet?, do: "achieved", else: "default" %>>
        <td><%= Money.parse!(target, :EUR) %></td>
        <td><%= Money.parse!(target * 655.957) %></td>
        <td><%= if meet?, do: "Attained/Atteint", else: expected %></td>
    </tr>
    <% end %>
</table>
